/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Merriweather', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    line-height: 1.6;
}

/* Header Styling */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Main Content Area */
main {
    padding: 30px 10%;
}

/* About Us Section */
.about-us-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-us-container h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #2c3e50;
}

.about-us-container h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #2c3e50;
}

.about-us-container p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #666;
}

.about-us-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-us-container li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

/* Footer Styling */
footer {
    background-color:  #34495e; 
    color: white;
    text-align: center;
    position: fixed;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    bottom: 0;
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}